[Unit]
Description=Run yb-tserver daemon

[Service]
Type=simple
WorkingDirectory=~
ExecStart=/home/yb/yugabyte-{{ yugabyte_version }}/bin/yb-tserver --flagfile tserver.conf
Restart=on-failure
User=yb
Group=users
LimitNOFILE=20000

[Install]
WantedBy=multi-user.target
Alias=yb-tserver.service
